


<h1>Телефонный справочник</h1>

<div id="demo">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
 <thead>
 	<tr>
    	<th>Отдел</th>
    	<th>ФИО</th>
    	<th>Телефон</th>
    	<th>Email</th>
        <th>Email</th>
	</tr>
</thead>
<tbody>
<% @users.each do |user| %>
	<tr>
	<td><%= user["department"] %></td>
    	<td><%= user["fio"] %></td>
    	<td><%= user["phonenumber"] %></td>
    	<td><%= mail_to user["email"] %></td>
        <td><%= user["title"] %></td>
  	</tr>


<% end %>
</tbody>
</table>
</div>
